.cover_block {
  height: 180px;
  display: flex;
}
.cover_block img {
  object-fit: cover;
  object-position: 50% 67%;
  width: 100%;
}
.content_block {
  padding: 20px;
}

.preloaderContainer {
  height: 640px;
  line-height: 640px;
  text-align: center;
}
.preloader {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}