.content_block {
  padding: 20px;
}

.preloaderContainer {
  height: 620px;
  line-height: 620px;
  text-align: center;
}

.preloader {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}