.pagination_top,
.pagination_bottom {
	/* margin: 20px 15px 15px 20px;
	padding: 0px 10px 0px 8px;
	overflow: hidden;
	background-color: #d7ccc8;
	display: flex;
	border-radius: 8px;
	font-size: 0.9rem;
	max-width: 727px; */
}

.pagination_top span,
.pagination_bottom span {
	/* cursor: pointer;
	padding: 8px 11.5px; */
}

.pagination_top span:hover,
.pagination_bottom span:hover {
	/* background-color: #c0b7b6; */
}

.pagination_bottom {
	margin: 0 0 5px 0;
}

.preloader img {
	display: block;
	margin: 200px auto 0;
}

.users {
	margin: -20px 0 20px 20px;
	display: flex;
	flex-wrap: wrap;
	animation: ani 0.5s forwards;
}

@keyframes ani {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.users > div {
	margin: 35px 44px 0 0;
	animation: normal;
}

.users > div:nth-child(5n) {
	margin-right: 0;
}

.users::after {
	content: "";
	flex: auto;
	margin: 0 20px 0 20px;
}