.header {
	margin: 35px 0 15px 0;
	font-weight: 500;
	background: url("../../../img/icons/profile/my_posts.svg") 5px 0 / contain no-repeat;
	padding: 0 0 0 27px;
}
textarea {
	width: 100%;
	border-radius: 8px;
	padding: 13px 15px;
	outline: 0 solid;
	resize: none;
	background-color: #d7ccc8;
	transition: all 0.05s ease 0s;
}
textarea:focus {
	outline: 2px solid grey;
}
textarea::placeholder {
	color: #919191;
}

.add_post {
	margin: 5px 0 20px auto;
	max-width: 5.9em;
	border-radius: 0 0 8px 8px;
}
.add_post button {
	padding: 5px 20px;
	border-radius: 8px;
	background-color: #d7ccc8;
	cursor: pointer;
	transition: all 0.05s ease 0s;
	outline: 0 solid;
}
.add_post button:hover {
	outline: 2px solid grey;
}
.add_post button:active {
	box-shadow: inset 0 0 4px grey;
}

.hintContainer {
	position: relative;
}
.hint {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	width: 20px;
	transition: all 3s ease;
}
.hint img {
	width: 20px;
	position: relative;
}
.hint span {
	visibility: hidden;
	top: 2.6em;
	left: -0.6em;
	width: 16em;
	background-color: rgba(0, 0, 0, 0.798);
	cursor: default;
	padding: 4px 8px;
	line-height: 1.3;
	z-index: 1;
  position: absolute;
	text-align: center;
	opacity: 0;
	border-radius: 12px;
	transition: all 0.3s ease;
	font-size: 0.7rem;
}
.hint:hover span {
	visibility: visible;
	opacity: 1;
}
.hint span:hover {
	visibility: hidden;
	opacity: 0;
}
.hint span::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
	left: 9%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.798) transparent;
}
