.message {
  background-color: rgb(60, 107, 224);
  padding: 8px 17px 8px 15px;
  word-break: break-word;
  color: #e9f5f5;
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  max-width: 80%;
  border-radius: 16px;
  font-size: 0.9rem;
}

.message:last-child {
  margin-bottom: 10px;
}