.header_top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	grid-area: h;
}
.header_left {
	align-items: center;
	padding: 15px 0;
}
.header_left img {
	max-width: 60px;
	margin: 0 0 5px 0;
}
.header_left a {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 0 0 0 20px;
	z-index: 2;
	position: absolute;
}
.header_left a:active {
	transform: translateY(1px);
}
.header_left h1 {
	font-size: 1.8rem;
	font-family: "Cinzel Decorative", cursive;
	word-spacing: 2px;
	padding: 5px 0 0 14px;
}
.auth a {
	margin: 20px 20px 0 0;
	display: flex;
	align-items: center;
	transition: text-decoration 0.3s ease 0s;
	text-decoration: underline 0.1em rgba(0, 0, 0, 0);
	text-underline-offset: 0.3em;
}
.auth a:hover {
	text-decoration-color: rgba(0, 0, 0, 1);
}
.auth img {
	width: 25px;
	margin: 0 10px 0 0;
	align-self: center;
	border-radius: 30%;
}
.not_auth {
	margin: 0 20px 0 0;
	display: flex;
	align-items: center;
}
.not_auth a {
	display: flex;
	align-items: center;
	transition: text-decoration 0.3s ease 0s;
	text-decoration: underline 0.1em rgba(0, 0, 0, 0);
	text-underline-offset: 0.3em;
}
.not_auth a:hover {
	text-decoration-color: rgba(0, 0, 0, 1);
}
.not_auth img {
	width: 16px;
	margin: 0 8px 0 0;
	padding: 2px 0 1px;
}
