.info {
	display: flex;
}
.editSection {
	display: flex;
	margin: -12px 0 12px;
	justify-content: space-between;
}
.editInfoButton {
	background: transparent;
	position: relative;

}	
.editInfoButton::-webkit-file-upload-button {
  visibility: hidden;
}
.editInfoButton::before {
	/* content: "Edit info"; */
	display: inline-block;
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	border-radius: 8px;
	padding: 0 8px 0 6px;
	outline: none;
	white-space: nowrap;
}

.editInfoButton a,
.choosePicture a {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
}

.editInfoButton a span,
.choosePicture a span {
	visibility: hidden;
	top: 2.6em;
	background-color: rgba(0, 0, 0, 0.798);
	padding: 4px 8px;
	line-height: 1.3;
	z-index: 1;
  position: absolute;
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease;
	border-radius: 12px;
	font-size: 0.7rem;
}

.editInfoButton a span {
	right: -2.5em;
	min-width: 6em;
}

.choosePicture a span { 
	right: -7em;
	min-width: 9em;
}

.editInfoButton a:hover span,
.choosePicture a:hover span {
	visibility: visible;
	opacity: 1;
}

.editInfoButton a span::after,
.choosePicture a span::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.798) transparent;
}

.editInfoButton a span::after {
	left: 50%;
}

.choosePicture a span::after {
	left: 13.5%;
}

.avatar {
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	width: 190px;
}
.avatarPic {
	width: 190px;
	object-fit: cover;
	border-radius: 30%;
	box-shadow: 0 0 2px 1px grey;
}
.uploadImage {
	width: 0.1px;
	/* font-size: 0.83rem; */
	font-size: 0.75rem;
	cursor: pointer;
}	
.uploadImage::-webkit-file-upload-button {
  visibility: hidden;
}
.uploadImage::before {
  /* content: "Update avatar"; */
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
	border-radius: 8px;
  padding: 0 8px 0 6px;
  outline: none;
  white-space: nowrap;
	cursor: pointer;
}
.editSectionButton:hover {
	opacity: 1;
}
.editSectionButton {
	display: flex;
	align-items: center;
	opacity: 0.5;
	transition: all 0.3s ease;
}
.editSectionButton label {
	cursor: pointer;
	position: relative;
}
.editSectionButton {
	cursor: pointer;
}
.editSectionButton .editInfoButton {
	cursor: pointer;
}
/* .follow {
	display: flex;
	margin: 13px 0 0;
	padding: 7px 40px;
	flex: 1 1 auto;
	border-radius: 8px;
	background-color: #d7ccc8;
	cursor: pointer;
	transition: all 0.05s ease 0s;
	outline: 0 solid;
}
.follow:hover {
	outline: 2px solid grey;
}
.follow:active {
	box-shadow: inset 0 0 4px grey;
}

.follow img {
	width: 15px;
}
.follow p {
	margin: 0 0 0 5px;
	font-size: 0.8rem;
	font-weight: 500;
	text-transform: uppercase;
} */
.description {
	margin: 0 0 0 25px;
	padding: 2px 0 0 0;
	flex: 1 1 auto;
}
.info_middle_left {
	margin: 12px 0 0;
	font-size: 0.8rem;
}
.description .info_middle_left li {
	padding: 0 0 0 18px;
}
.description li:not(:last-child) {
	margin: 0 0 5px 0;
}
.userInfo_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	overflow-wrap: break-word;
}
.userInfo_right {
	align-self: flex-start;
	text-align: right;
	position: relative;
	top: 5px;
}
.userInfo_bottom {
	display: flex;
	justify-content: space-between;
}

.is_job_looking {
	margin: 10px 0 0;
}

.is_job_looking a {
	text-decoration: none;
	color: #fff;
	cursor: default;
	font-weight: normal;
}

.is_job_looking a span {
	visibility: hidden;
	top: 4.5em;
	right: 0.05em;
	min-width: 11em;
	background-color: rgba(0, 0, 0, 0.798);
	cursor: default;
	padding: 4px 8px;
	line-height: 1.3;
	z-index: 1;
  position: absolute;
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease;
	border-radius: 12px;
	font-size: 0.7rem;
}

.is_job_looking a:hover span {
	visibility: visible;
	opacity: 1;
}

.is_job_looking a span::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
	right: 11%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.798) transparent;
}


.name {
	font-size: 1.5rem;
	font-weight: 500;
}
.birth,
.place,
.main_link,
.about,
.job_description {
	display: flex;
	overflow: hidden;
	overflow-wrap: break-word;
}
.id {
	display: flex;
	color: hsl(40, 3%, 35%);
	justify-content: flex-end;
}
.birth_icon,
.place_icon,
.main_link_icon,
.about_icon,
.id_icon,
.job_description_icon {
	height: 12px;
	padding: 0 0 1px 0;
	margin: 0 0 0 -15px;
	position: relative;
	top: 2.5px;
}
.job_description_icon {
	top: 2px;
}
.birth_info,
.place_info,
.main_link_info,
.about_info,
.id_number,
.job_description_info {
	max-width: 465px;
	padding: 0 0 0 5px;
	line-height: 1.4;
	font-size: 0.8rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}
.main_link_info a {
	transition: text-decoration 0.3s ease 0s;
	text-decoration: underline 0.1em rgba(0, 0, 0, 0);
	text-underline-offset: 0.2em;
}
.main_link_info a:hover {
	text-decoration-color: rgba(0, 0, 0, 1);
}

.contacts {
	margin: 15px 0 0 0;
	padding: 0 0 0 5px;
	display: flex;
}

.contacts a {
	display: block;
}

.fb_link,
.gh_link {
	border-radius: 50%;
}
.fb_link svg,
.gh_link img {
	border-radius: 50%;
}
.contacts li:not(:last-child) {
	padding: 0 10px 0 0;
}
.contacts a {
	opacity: 0.5;
	transition: all 0.3s ease;
	height: 15px;
}
.contacts a:hover {
	opacity: 1;
}
