.myStatus {
	margin: 5px 0 7px;
	padding: 3px 3px 3px 7px;
	font-size: 0.8rem;
	line-height: 1.35;
	overflow: hidden;
	overflow-wrap: break-word;
	color: #5c5a57;
	width: 522px;
	cursor: pointer;
}

.myStatus:hover {
	background-color: #d7ccc8;
	border-radius: 8px;
}

.userStatus {
	margin: 5px 0 7px 7px;
	padding: 3px 0 3px;
}

.status {
	font-size: 0.8rem;
	line-height: 1.35;
	overflow: hidden;
	overflow-wrap: break-word;
	color: #5c5a57;
	width: 522px;
	border-radius: 8px;
	margin: 0 -7px 0 -7px;
}

.editStatus {
	width: 522px;
	background-color: #d7ccc8;
	font-size: 0.8rem;
	line-height: 1.35;
	color: #5c5a57;
	margin: -3px -7px;
	padding: 3px 7px;
}

.editStatus:focus {
	outline: none;
	border-radius: 8px;
}

.line {
	border-bottom: 1px solid #5c5a57;
}