.content_block {
  margin: 20px;
}

.allChats {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
}

.chatsColumns {
  flex: 1 0 auto;
  display: flex;
  height: calc(100vh - 121px);
  width: 100%;
}


.dialogues {
  background-color: #d7ccc8;
  padding: 2px 15px;
  border-radius: 8px;
  flex: 0 0 25%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.users {
	flex: 1 0 auto;
}

.hint {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	transition: all 3s ease;
	margin-bottom: 15px;
	width: 20px;
}
.hint img {
	width: 20px;
}
.hint span {
	visibility: hidden;
	bottom: 0;
	left: 4em;
	width: 16em;
	background-color: rgba(0, 0, 0, 0.798);
	cursor: default;
	padding: 4px 8px;
	line-height: 1.3;
	z-index: 1;
  position: absolute;
	text-align: center;
	opacity: 0;
	border-radius: 12px;
	transition: all 0.3s ease;
	font-size: 0.7rem;
}
.hint:hover span {
	visibility: visible;
	opacity: 1;
}
.hint span:hover {
	visibility: hidden;
	opacity: 0;
}
.hint span::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.798) transparent transparent;
}


.messagesBlock {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  overflow-y: scroll;
  line-height: 1.25;
  position: relative;
  bottom: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 8px -18px 2px 20px;
  width: 100%;
  white-space: pre-line;
}

.sentMessages {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
}

.receivedMessages {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 19px;
}

.typeMessage {
  display: flex;
  margin: 18px 18px -2px 0;
  position: relative;
}

.typeMessage textarea {
  width: 100%;
  height: 44px;
  font-size: 0.9rem;
  padding: 13px 70px 13px 17px;
  outline: 0 solid;
  resize: none;
  border-radius: 8px 0 0 8px;
  background-color: #d7ccc8;
  transition: all 0.05s ease 0s;
}

.typeMessage textarea:focus {
	outline: none;
}

textarea::placeholder {
  color: #919191;
}

.typeMessage button {
  cursor: pointer;
  flex: 1 1 20%;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0 8px 8px 0;
  background-color: rgb(114, 104, 93);
  color: #e9f5f5;
  font-size: 2rem;
  padding: 0 5px 0 0;
}

.typeMessage button:active {
  box-shadow: inset 0 0 4px #fff;
  border: none;
}

.typeMessage button:focus {
  outline: none;
}