.dialogue {
  color: rgb(49, 45, 40);
  padding: 15px 15px;
	margin: 0 -15px;
  position: relative;
  display: flex;
  border: dashed rgb(114, 104, 93);
  border-width: 0 0 1px 0;
  font-size: 0.9rem;
}

.dialogue:first-child {
  color: rgb(49, 45, 40);
  padding: 14px 15px 15px;
	margin: 0 -15px;
  position: relative;
  display: flex;
  border: dashed rgb(114, 104, 93);
  border-width: 0 0 1px 0;
  font-size: 0.9rem;
}

.dialogue:last-child {
  color: rgb(49, 45, 40);
  padding: 15px;
	margin: 0 -15px;
  position: relative;
  display: flex;
  border: none;
  font-size: 0.9rem;
}

.dialogue:hover {
  padding: 16px 15px 16px 15px;
  border: none;
  background-color: #c0b7b6;
  margin: -1px -15px 0 -15px;
}

.dialogue:first-child:hover {
  margin: -2px -15px 0 -15px;
  border-radius: 8px 8px 0 0;
}

.active {
  padding: 16px 15px 14px 15px;
  position: relative;
  display: flex;
  border: solid rgb(114, 104, 93);
  border-width: 0 0 1px 0;
  font-size: 0.9rem;
  background-color: rgb(114, 104, 93);
  color: #e9f5f5;
  margin: -1px -15px 1px -15px;
}

.active:first-child {
  padding: 16px 15px 14px 15px;
  position: relative;
  display: flex;
  border: solid rgb(114, 104, 93);
  border-width: 0 0 1px 0;
  font-size: 0.9rem;
  background-color: rgb(114, 104, 93);
  color: #e9f5f5;
  margin: -2px -15px 1px -15px;
  border-radius: 8px 8px 0 0;
}