.headerPostsElements,
.headerNoPosts {
	margin: 55px 0 25px 0;
	font-weight: 500;
	background: url("../../../img/icons/profile/my_posts.svg") 5px 0 / contain no-repeat;
	padding: 0 0 0 27px;
}

.headerPostsElements {
	margin: 54px 0 25px 0;
}

.noPosts {
  display: flex;
  flex-direction: column;
  margin: 0 -18px 2px 20px;
  width: 100%;
  white-space: pre-line;
  justify-content: center;
  align-items: center;
}

.noPostsMessage {
	margin: 100px 0 0;
  padding: 8px 16px 8px 15px;
  border-radius: 16px;
  box-shadow: 0 0 8px 1px rgb(114, 104, 93);
  color: rgb(49, 45, 40);
  font-size: 0.9rem;
}